.compontet-10-inner {
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
}
.footer-container {
  max-width: 839.062px;
  height: 194px;
  display: flex;
  justify-content: flex-start;
  padding-top: 46px;
}
.logo-restyle {
  color: #fff;
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
  transform: translate(2%, 0%);
}
.foot-marg-left {
  margin-left: 1.5rem;
}
.footer-text {
  font-family: muli-regular;
  font-size: 10px;
  line-height: 1.8rem;
  width: 200px;
  color: #fff;
  transform: translate(2%, 0%);
  margin-bottom: 1.3rem;
}
.about-us {
  font-family: glacialindifference-bold;
  font-size: 12px;
  color: #909090;
  transform: translate(2%, 0%);
  letter-spacing: -1px;
}
.recent {
  font-family: glacialindifference-bold;
  font-size: 15px;
  color: #ffffff;
  transform: translate(0, 18%);
  margin-bottom: 1.3rem;
}
.narrow {
  color: #ffffff;
  font-family: glacialindifference-bold;
  font-size: 12px;
  width: 177px;
  transform: translate(0, 69%);
  margin-bottom: 28px;
}
.icon-clock {
  color: yellow;
}
.march {
  color: #fff;
  font-family: "open sans";
  font-size: 0.9rem;
  letter-spacing: -0.3px;
  /* margin-bottom: 14.6px; */
}
.gap5px {
  gap: 5px;
  margin-bottom: 14.6px;
}
.foot-trans {
  transform: translate(0%, 0%);
  margin-bottom: 0.7rem;
}
.twitter-feed {
  font-family: glacialindifference-bold;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.3rem;
}
.foot-marg-left-2 {
  margin-left: 3.2rem;
  transform: translate(2px, 2px);
}
.mex {
  color: #fff;
  font-size: 12px;
  font-family: "poppins";
  letter-spacing: -1.2px;
  margin-bottom: 0.5rem;
}
.mexo {
  color: #7d7d7d;
  font-size: 9.5px;
  font-family: "poppins";
  letter-spacing: -1.2px;
  margin-bottom: 1.5rem;
  transform: translate(-1%, 0%);
}
.awesome {
  font-family: muli;
  letter-spacing: 0.1px;
  font-size: 10px;
  transform: translate(-0.6%, -21%);
  letter-spacing: 0.12px;
  line-height: 1.8rem;
  margin-bottom: 0.2rem;
  width: 197px;
  color: #7f7f7f;
  border-top: 1px solid #fff;
  padding-top: 4px;
}
.march-new {
  transform: translate(1px, 0px);
  letter-spacing: 0.2px;
}
.icon-color {
  color: #fff;
}
.new-tran {
  letter-spacing: 0.6px;
  transform: translate(2%, 1.3%);
}
.margin-left-footer-3 {
  margin-left: 0.5rem;
}
.Aenean {
  font-family: muli;
  font-size: 10px;
  margin-bottom: 0.2rem;
  color: #7f7f7f;
  transform: translate(7px, 4px);
  letter-spacing: 0px;
  line-height: 19px;
}
.footer-email {
  font-family: muli-regular;
  color: #fff;
  font-size: 11px;
}
.foot-email-trans {
  gap: 5.9px;
  transform: translate(7px, 4.2px);
}

.Bmeiox {
  font-family: muli;
  font-size: 10.5px;
  margin-bottom: 0.2rem;
  color: #7f7f7f;
  letter-spacing: -0.1px;
  transform: translate(0px, 1px);
}
.phone-cont {
  transform: translate(4.6px, 7px);
}
.foot-let-sp {
  letter-spacing: 0.1px;
}
.phone {
  transform: translate(2px, 0px);
}
.foot-icons {
  width: 100px;
  transform: translate(4px, 26px);
}
.footer-last-lane {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  background-color: #161616;
}
.footer-last-lane span {
  color: #616262;
  transform: translate(-27px, 0px);
  font-size: 10.4px;
  letter-spacing: 0.08px;
  font-family: open sans;
}
