html.font {
  /* default 1rem=10px */
  font-size: 62.5%;
}
.component-1-inner {
  justify-content: space-between;
  align-items: center;
  max-width: 821.656px;
  min-width: 821.656px;
  height: 3.2rem;
  gap: 20rem;
}
.comp-1-inner-cont {
  display: flex;
  justify-content: space-between;
  width: 28.8rem;
}
.mail {
  width: 11.6rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}
.svg-envelope {
  display: inline-block;
  width: 120%;
  height: 1.4rem;
  transform: translate(17%);
}

.comp-1-text {
  display: flex;
  align-items: center;
  transform: translate(4.5%, -10%);
  justify-content: flex-start;
  font-size: 1rem;
  width: 100rem;
  height: 1.4rem;
  letter-spacing: 0.03rem;
}
.number-container {
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  transform: translate(5%);
}
.svg-phone {
  transform: translate(10%);
}
.number {
  font-size: 1rem;
  max-height: 1.8rem;
  width: 100%;
  transform: translate(0%, -7%);
}
.height-1rem {
  height: 1rem;
}
.nav-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-icons-1 {
  display: flex;
  align-items: center;
  gap: 1.9rem;
  color: lightgray;
}
.facebook:hover {
  color: #ee3364;
}
.facebook {
  transform: translate(-4%, -3%);
  width: 1rem;
  height: 1rem;
  color: lightgray;
}
.fa-twitter {
  width: 1.5rem;
  height: 1rem;
  color: lightgray;
}
.fa-twitter:hover {
  color: #ee3364;
}
.nav-icons-2 {
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  gap: 1.1ren;
  color: lightgray;

  transform: translate(-20%);
}
.google {
  transform: translate(-60%, -10%);
  font-size: 13px;
}
.google:hover {
  color: #ee3364;
}
.linkdenin {
  transform: translate(-50%);
}
.linkdenin:hover {
  color: #ee3364;
}
