.height-15 {
  height: 228px;
}
.img-of-man {
  transform: translate(-4px, -1px);
  width: 49px;
  height: 49px;
}
.div-pic {
  height: 33px;
  width: 33px;
  transform: translate(2px, -2px);
  overflow: hidden;
}
