.component-13 .ul-header-comp-11 {
  font-family: glacialindifference-bold;
  font-size: 17px;
  padding-bottom: 16px;
  margin-bottom: 27px;
  color: black;
}
ul.ul-comp-11 .ul-header-comp-11 {
  margin-bottom: 22px;
}
.component-13 .ul-comp-11 {
  height: 251px;
}
.flex button {
  border: 2px solid #f0f4f7;
  /* border-radius: 50%; */
}
