.component-7 {
  margin-bottom: 2rem;
}
.comp-7-title {
  font-family: glacialindifference-bold;
  color: #191919;
  font-size: 15px;
  transform: translate(-0.3%, 0%);
  margin-bottom: 2.3rem;
}
.comp-7-main {
  margin-bottom: 2.4rem;
}
.gap14px {
  gap: 14px;
}
.comp-7-rect {
  background-color: #cfdbdf;
  width: 7.1rem;
  height: 5.7rem;
}
.comp-7-flex-gap {
  display: flex;
  gap: 5px;
  align-items: center;
}
.span-date {
  color: #999999;
  font-family: "open sans";
  font-size: 10px;
  letter-spacing: -0.2px;
}
.translate0p7 {
  transform: translate(-0.7%, -24%);
  gap: 1.6rem;
}
.flex36 {
  gap: 8px;
  align-items: center;
}
.component-7-below-date-text {
  color: #1d1d1d;
  font-family: glacialindifference-bold;
  transform: translate(-0.5%, 18%);
  width: 182px;
  font-size: 14px;
}
.comp-7-second {
  transform: translate(10.7%, 0%);
}
.margin-bottom-comp-7-2p7rem {
  margin-bottom: 2.7rem;
}
.translate-rect {
  transform: translate(-61%, 17%);
}
.translate-126 {
  transform: translate(-30%, 0%);
}
.relative {
  width: 535px;
  /* height: 200px; */
}
.margin-bottom-1p1rem {
  margin-bottom: 0.7rem;
  display: inline-block;
}
.absolute {
  width: 562px;
  height: 100px;
  transform: translate(0, -9%);
}
