.compontet-10 {
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
}
.footer-container {
  width: 62.2%;
  height: 240px;
  display: flex;
  justify-content: flex-start;
  padding-top: 46px;
}
.logo-restyle {
  color: #fff;
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
  transform: translate(2%, 0%);
}
.foot-marg-left {
  margin-left: 1.5rem;
}
.footer-text {
  font-family: muli-regular;
  font-size: 10px;
  line-height: 1.8rem;
  width: 200px;
  color: #fff;
  transform: translate(2%, 0%);
  margin-bottom: 1.3rem;
}
.about-us {
  font-family: glacialindifference-bold;
  font-size: 12px;
  color: #909090;
  transform: translate(2%, 0%);
  letter-spacing: -1px;
}
.recent {
  font-family: glacialindifference-bold;
  font-size: 15px;
  color: #ffffff;
  transform: translate(0, 18%);
  margin-bottom: 1.3rem;
}
.narrow {
  color: #ffffff;
  font-family: glacialindifference-bold;
  font-size: 12px;
  width: 177px;
  transform: translate(0, 69%);
  margin-bottom: 28px;
}
.icon-clock {
  color: yellow;
}
.march {
  color: #fff;
  font-family: "open sans";
  font-size: 0.9rem;
  letter-spacing: -0.3px;
  /* margin-bottom: 14.6px; */
}
.gap5px {
  gap: 5px;
  margin-bottom: 14.6px;
}
.foot-trans {
  transform: translate(0%, 0%);
  margin-bottom: 0.7rem;
}
.twitter-feed {
  font-family: glacialindifference-bold;
  font-size: 16px;
  color: #fff;
  margin-bottom: 2.3rem;
}
.foot-marg-left-2 {
  margin-left: 3.2rem;
  transform: translate(2px, 2px);
}
.mex {
  color: #fff;
  font-size: 12px;
  font-family: "poppins";
  letter-spacing: -1.2px;
  margin-bottom: 0.5rem;
}
.mexo {
  color: #7d7d7d;
  font-size: 9.5px;
  font-family: "poppins";
  letter-spacing: -1.2px;
  margin-bottom: 2rem;
  transform: translate(-1%, 0%);
}
.awesome {
  font-family: muli;
  letter-spacing: 0.1px;
  font-size: 10px;
  transform: translate(-0.6%, -21%);
  letter-spacing: 0.12px;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  width: 197px;
  color: #7f7f7f;
}
.icon-color {
}
